@using BPM.Dto.Configuration
@model BancoDto
@{
    ViewBag.Title = "Edit";
}


<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Editar Banco</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="~/Home/Index">Configuración</a></li>
                            <li><a href="~/Banco/Banco">Bancos</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="card">
        <div class="card-body card-block">
            <form action="@Url.Content("~/Banco/Edit")" method="post" enctype="multipart/form-data" class="form-horizontal" style="width:60%">

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nombre</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" required class="form-control" value="@Model.Nombre" onkeypress="return validar(event)">
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>
                <input type="hidden" name="IdBanco" value="@Model.IdBanco"/>
               
                <div>
                    <button style="float: right;" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"> </i>&nbsp; Actualizar</button>
                </div>
            </form>
        </div>

    </div>
    <div class="danger">
        <p class="error">@ViewBag.Error</p>
    </div>

</div>


@Scripts.Render("~/Scripts/User/User.js")
<script type="text/javascript">
function validar(e) { // 1
            tecla = (document.all) ? e.keyCode : e.which; // 2
            if (tecla == 8) return true; // 3
            patron = /[^-'`~!#$%^&*()_|+=?;:'",.<>\{\}\[\]\\\/]/; // 4
            te = String.fromCharCode(tecla); // 5
            return patron.test(te); // 6
        }
</script>
